{% extends 'header.html' %}
{% block title %}
Profile
{% endblock %}
{% block content %}

<div class="container m-5">




    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
        </div>

        <div class="card-body">
            <img src={{request.user.default_avatar_id}} alt="">
            <hr class="featurette-divider">
            <p class="card-text">Можно добавить еще данных</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
        </div>
    </div>

    <li class="list-group-item d-flex justify-content-between lh-condensed shadow-sm mb-4 ">
        <div>
            <h6>Изменить данные:</h6>
            <div class="container">
                <form action="" method="post">
                    <label for="inputGroupSelect04">Часовой пояс</label>
                    <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect04"
                            aria-label="Example select with button addon">
                            <option selected>Выберите из списка</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </li>

    <a href="{% url 'logout' %}" style="text-decoration: none;">
        <li class="list-group-item d-flex justify-content-between lh-condensed shadow-sm ">

            <div>
                <h6 class="text-danger">Выйти</h6>
                <small class="text-muted"> что-нибудь</small>
            </div>

        </li>
    </a>
    </ul>



</div>


{% endblock %}