{% extends 'NavbarMenu.html' %}
{%load static%}
{%block title%}
Booking
{%endblock%}

{% block content%}

<center><h1>Выберите место </h1></center>
<center><h3><span class="badge badge-primary">Алькатрас</span> <span class="badge badge-primary">Переговорная №1</span></h3></center>
<ul class="list-group list-group-horizontal-lg">
<!--  тут форма выбора места  -->
<form method="post">
    {% csrf_token %}
</form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <li class="list-group-item">
<img id="goal" src="{%static 'images/1111.jpg'%}" usemap="#goal-map">

<map name="goal-map" id="map">
  <area target="" alt="" title="Место №1" href="" coords="128,178,103,242,167,250,182,184" shape="poly">
  <area target="" alt="" title="Место №2" href="" coords="306,220,400,219,400,306,307,312" shape="poly">
  <area target="" alt="" title="Место №3" href="" coords="469,147,472,236,569,233,559,157" shape="poly">
</map>
    <br/>
<input type="text" id="placeid" hidden="true">
<p id="chosen">
  Вы выбрали 
</p>

<script>
  var cnt = 0;
$("#map").on("click", function(e) {
  e.preventDefault();
  var $tgt = $(e.target);
  // console.log($tgt.attr("alt"));
  $("#chosen").text("Вы выбрали " + $tgt.attr("title"))
  }  
);
</script>
 

  </li>


<!--    о месте-->
  <li class="list-group-item">
      <div class="card" style="width: 18rem;">
<ul class="list-group">
     <li class="list-group-item">
        <img src="http://www.cdmebel.ru/upload/iblock/552/5522dc5a81a28de4c4a7f7dc02af945a.jpg" width="2000" height="100" class="card-img-top" alt="...">
    </li>
     <li class="list-group-item">
       <h6>Tеги: <span class="badge badge-secondary">New</span> <span class="badge badge-secondary">Дота2</span></h6>

    </li>
    <li class="list-group-item">
       <div class="card-body"  >
    <h5 class="card-title">Типичное рабочее место</h5>
    <p class="card-text">Ничего особенного, просто стул и комп.</p>
    <a href="#" class="btn btn-primary">Далее</a>
  </div>
    </li>
</ul>



</div>
  </li>

</ul>

{%endblock%}

