{% extends 'header.html' %}
{% load static %}
{% block title %}
  Placeholder Title
{% endblock %}

{% block content%}

<center><h1>Выберите место </h1></center>
<center><h3><span class="badge badge-primary">Алькатрас</span> <span class="badge badge-primary">Переговорная №1</span></h3></center>
<ul class="list-group list-group-horizontal-lg">
<!--  тут форма выбора места  -->
<form method="post">
    {% csrf_token %}
</form>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <li class="list-group-item">
<img id="goal" src="{%static 'images/1111.jpg'%}" usemap="#goal-map">

<map name="goal-map" id="map">
  <area target="" alt="" title="Место №1" href="" coords="128,178,103,242,167,250,182,184" shape="poly">
  <area target="" alt="" title="Место №2" href="" coords="306,220,400,219,400,306,307,312" shape="poly">
  <area target="" alt="" title="Место №3" href="" coords="469,147,472,236,569,233,559,157" shape="poly">
</map>
    <br/>
<input type="text" id="placeid" hidden="true">
<p id="chosen">
  Вы выбрали 
</p>

  </li>
<!--    о месте-->
<li class="list-group-item">
  <div class="card" style="width: 18rem;">
    <ul class="list-group">
      <li class="list-group-item">
        <img src="{% static 'images/1.jpg' %}"  class="card-img-top">
      </li>
      <li class="list-group-item">
        <h6>Tеги: <span class="badge badge-secondary"></span>
      </li>
    <li class="list-group-item">
      <div class="card-body">
        <h5 class="card-title">Типичное рабочее место</h5>
        <p class="card-text">Ничего особенного, просто стул и комп.</p>
        <a id="next" href="#" class="btn btn-primary">Далее</a>
      </div>
    </li>
    </ul>
  </div>
  </li>
</ul>

<script>
  $("#map").on("click", function(e) {
    e.preventDefault();
    var s = $(e.target).attr("title");
    $("#placeid").val(s.charAt(s.length - 1))
    var sd = $("#placeid").val();
    var token = $('[name=csrfmiddlewaretoken]').val();
    $.ajax({
      headers: {'X-CSRFToken': token},
      type: 'POST',
      url: "{% url 'postb' %}",
      data: {"id": sd},
      success: function(response) {
        // alert(response['description']);
        $(".card-title").text(response['name']);
        $("#chosen").text(response['name']);
        $(".card-text").text(response['description']);
        var tags = "";
        for (tag of response['tags']){
          tags += tag;
          // alert(tag);
          tags += " ";
        }
        $('span.badge.badge-secondary').text(tags);
      },
      error: function(response) {
        alert("error")
      }
    });
    
    //alert(s.charAt(s.length - 1));
    }  
  );
</script>
<!-- <script>
    $("#next").on("click", function(e) {
    e.preventDefault();  

  });
</script> -->

{%endblock%}

