{% extends 'header.html' %}
{% load static %}
{% block title %}
  Booking
{% endblock %}
{% block content %}

<div class="title text-center mt-3">
  {% if rooms %}
  <h3>Выберите переговорную комнату</h3>
  {% elif workplaces %}
  <h3>Выберите место, за которым хотите поработать</h3>
  {% endif %}
</div>

<div class="container">
  <div class="py-5 text-center"></div>
  <div class="row">

    {% if rooms %}
    {% for room in rooms %}
      <div class="col-md-8 order-md-2">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h6>{{ room.name }}</h6>
            <p class="card-text">{{ room.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" data-val="{{ room.id }}" data-type="Room"
                data-toggle="modal" data-target="#bookModal"  class="btn btn-sm btn-outline-secondary" >Далее</a>
              </div>
              <small class="text-muted">Вместимость - {{ room.capacity }}</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}

    {% if workplaces %}
    {% for workplace in workplaces %}
      <div class="col-md-8 order-md-1">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h6>{{ workplace.name }}</h6>
            <p class="card-text">{{ workplace.description|default:"No description" }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" data-val="{{ workplace.id }}" data-type="Workplace"
                data-toggle="modal" data-target="#bookModal"  class="btn btn-sm btn-outline-secondary" >Далее</a>
              </div>
              <!-- <small class="text-muted">Локация?</small> -->
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}


    <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bookModalLabel">Выберите время, в какое хотите работать</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                  <form method="post">
                      <div class="form-group mt-5">
                          <input type="hidden" id="place_id">
                          <input type="hidden" id="place_type">

                          <label for="date" >Выберите дату</label><input type="text" class="form-control" id="date">
                          <label for="time_start">Время начала</label><input type="text" class="form-control" id="time_start">
                          <label for="time_end">Время конца</label><input type="text" class="form-control" id="time_end">
                          <!-- <label for="date_range">Повторы</label><input type="text" class="form-control" id="date_range"> -->
                          
<!--                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
<!--                              <label class="form-check-label" for="defaultCheck1">-->
<!--                                Даты здесь?-->
<!--                              </label><br>-->
<!--                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
<!--                              <label class="form-check-label" for="defaultCheck1">-->
<!--                                Даты здесь?-->
<!--                              </label><br>-->
<!--                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
<!--                              <label class="form-check-label" for="defaultCheck1">-->
<!--                                Даты здесь?-->
<!--                              </label><br>-->
<!--                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
<!--                              <label class="form-check-label" for="defaultCheck1">-->
<!--                                Даты здесь?-->
<!--                              </label><br>-->
<!--                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
<!--                              <label class="form-check-label" for="defaultCheck1">-->
<!--                                Даты здесь?-->
<!--                              </label><br>-->
<!--                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
<!--                              <label class="form-check-label" for="defaultCheck1">-->
<!--                                Даты здесь?-->
<!--                              </label>-->
                      </div>
                      <button id="book" type="submit" class="btn btn-primary">Забронировать</button>
                      {% csrf_token %}
                  </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="afterModal" tabindex="-2" aria-labelledby="afterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="afterModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="afterModalMessage"></p>
        </div>
        <div class="modal-footer">
          <a type="button" href="{% url 'MainApp:my_booking' %}" class="btn btn-primary">В мои бронирования</a>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
    $(function() {
        $('#bookModal').on('show.bs.modal', function (event) {
            let place_id = $(event.relatedTarget).data('val');
            let place_type = $(event.relatedTarget).data('type');
            // console.log(place_type, place_id);
            // $(this).find("label[name=place_id]").text(place_id);
            // $(this).find("label[name=place_type]").text(place_type);
            $(this).find("#place_id").val(place_id);
            $(this).find("#place_type").val(place_type);
        });
    // });


    // $(function() {
        // var start = $('#time_start');
        var default_settings = {
        timeFormat: 'HH:mm',
        stepMinute: 15,
        hourMin: 9,
        hourMax: 21,
        hour: 9,
        minute: 0,
        }
        start_settings = $.extend({}, default_settings);
        start_settings['onClose'] = function(dateText, inst) {
        // console.log($("#time_srtart").timepicker('timezone'));
            $("#time_end").val(dateText);
        }

        $("#date").datepicker({
            dateFormat: "dd/mm/y",
            minDate: 0,
            maxDate: 14
        });
        $("#time_start").timepicker(start_settings);
        // $("#time_start").datepicker("show");
        $("#time_end").timepicker(default_settings);
        // $("#time_end").datepicker("show");
    // });

        $("#book").on('click', function(e) {
            e.preventDefault();
            let token = $('[name=csrfmiddlewaretoken]').val();
            let date = $("#date").val();
            let start = $("#time_start").val();
            let finish = $("#time_end").val();
            let place_id = $("#place_id").val();
            let place_type = $("#place_type").val();
            // console.log(token, date, start, finish, place_id, place_type);
            $.ajax({
              headers: {'X-CSRFToken': token},
              type: 'POST',
              url: "{% url 'MainApp:book' %}",
              data: {"date": date, "start": start, "finish": finish, 
                     "place_id": place_id, "place_type": place_type},
              success: function(response) {
                console.log(response);
                $("#afterModalLabel").text("Успех");
                let msg = `Забронировали с ${start} до ${finish} ${date}`
                $("#afterModalMessage").text(msg);
                $("#afterModal").find("a").show();
                $("#afterModal").modal('show');
              },
              error: function(response) {
                // alert("error");
                $("#afterModalLabel").text("Ошибка");
                // let msg = `Забронировали с ${start} до ${finish} ${date}`
                $("#afterModalMessage").text(response['responseJSON']['error']);
                $("#afterModal").find("a").hide();
                $("#afterModal").modal('show');
              }
            });
        });
    });
</script>

{% endblock %}